body{
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    font-family: 'Open Sans' !important;
    font-style:  normal;
    color: #a4a4a4;    
}

#title div{
    height: 60px;    
    width: 340px;
    background-color: #49b086;
    position: absolute;    
    left:50%;
    margin-left: -200px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    z-index: 2;
    text-align:center;
    padding-top: 18px;
    letter-spacing: 6px
}

#title_index div{
    margin: 10%;
    position: absolute;
    top: 50px;
    color: white;    
    z-index: 2;
}
#title_index div h1{
    text-align: center;
    width: 80%;
    font-size: 60px;
}

#title{   position: relative;    }
#title_index div p{ font-size: 28px; }
#title_index div img{ float: right; }
#title div{ top: 51.5%; }
body.product{ background-color: #f0f0f0;}
a{ text-decoration: none; }
.clear{ clear: both; }

h1.nobold{
    font-weight:normal;
    letter-spacing: 2px;
    font-size: 28px;
}

.indextitle{
    position: absolute;
    font-weight: bold;
    text-align: center;
    margin: 110px 17% 0px 17%; 
    font-size: 70px;
    color: white;    
}

.indexsubtitle span{
    position: absolute;
    color: blue;
    padding: 100px 10px 10px 100px;
}

.hey{
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    color: #7c7c7c;
}

ul.navigation{
    float:right;    
    list-style-type: none;
    padding-top: 30px;
}
.navigation li{  float: left; margin-right: 25px;}
header{     padding: 0 120px 0 120px; background-color: white;}
.logo{ margin-top: 30px;}
.navigation a.active{ color: #7c7c7c;  }

.navigation a{
    text-decoration: none;    
    color: #a4a4a4;    
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.navigation a.hover{       
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.button, .navigation a.navbutton, a.navbutton, a.button_link{
    background-color: #fda134;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;  
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 1px 2px 2px #888888;
}

a.navbutton:hover{ background-color: #ec9126;    }
a.button:hover{ background-color: #ec9126; }
a.button_link:hover{ background-color: #ec9126; }

a.button_link{    
    text-decoration: none;        
    padding: 15px;
    padding-right: 32px;
    padding-left: 32px;
}

.button{
    display:inline-block;
    width: 110px;
    height: 52px;
    text-align: center;    
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

section.text, section.footer{
    position: relative;
    width: 50%;
    font-size: 18px;
    margin: 30px 25% 30px 25%;
    color: #a4a4a4;
    background-color: #ffffff;
    line-height: 1.8;
}

section.footer{
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;    
    height: 500px;
}
.button span{ display:inline-block; margin-top:10px;}
section.text.wide{ width: 60%; margin: auto;}
section.footer #content{ width: 85%; margin: auto;}

.footer .col{
    padding-top: 50px;
    width: 23%;
    height: 100px;
    float: left;    
    margin-right: 20px;
}

.footerbox{
    text-decoration: none;
    color: #a4a4a4;
    font-size: 16px;
    background-color: #f8f8f8;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    width: 180px;
    text-align: center;
}
.disclaimer{  
    height: 100px;
    width: 100%;
    background-color: #f8f8f8;
    color: #a2a2a2;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    text-decoration: none;
}
 
 .disclaimer .discol {
    width: 40%;
    display: table-cell;
    height: 100px;
    vertical-align: middle;
 }
.disclaimer .content {    margin: auto;  width:90%; }
.disclaimer .discol{ padding: 0 10px 0 10px; }
.disclaimer .left{ border-right: 1px solid #f0f0f0; }
.disclaimer a.rightlinks{ text-decoration: none; color: #a2a2a2; }

.footer a.page{
    font-size: 16px;
    color: #7c7c7c;
    text-decoration: none;    
}
.footer a.anchor{
    font-size: 14px;
    color: #a4a4a4;
    text-decoration: none;
}

.circle{
    text-align: center;        
    height: 120px;
    width: 120px;
    background-color: white;
    color: #5a5a5a;
    font-size: 20px;
    border-radius: 50%;
    padding: 25px;    
}

.listitem{  
  width: 100%;
     background-color: white;
    padding: 10px;    
    margin-bottom: 20px;    
}
.listitem div.icon{
    margin-left: 5px;
}
.listitem .icon{
    color: #e9c858;
    font-weight: bold;
    font-size: 30px;
    vertical-align: middle;
    width: 28px;
    margin-right: 25px;
    display: inline-block;
}
.listitem div.content{
    vertical-align: middle;
    display: inline-block;
    width: 85%;
}

.listitem{
    float: right; width: 100%;    
}
