section  .content.twothirds{
    width: 70% 
}
section  .content.twothirds h2{
    margin-top:0px;
    padding-top: 0px;
}
section img.right{
    width: 30%; 
    position: absolute;
    right: 0px;    
}
section .content.right{
    float: right;
    height: auto;
}
section img.left{
    width: 30%;
    position: absolute;
    left: 0px;    
}
section.textcenter.narrow, section.textleft.narrow{
    width: 50%;    
    padding-left: 25%;
    padding-right: 25%;   
}
section.textcenter.narrow2{
    width: 50%;    
    padding-left: 25%;
    left: 0px;
}
.homearrow{
    float: right;
    position: absolute;
    z-index: 3;
}
.listitem{  
  width: 100%;
     background-color: white;
    padding: 10px;    
    margin-bottom: 20px;    
}
.listitem div.icon{
    margin-left: 5px;
}
.listitem .icon{
    color: #e9c858;
    font-weight: bold;
    font-size: 30px;
    vertical-align: middle;
    width: 28px;
    margin-right: 25px;
    display: inline-block;
}
.listitem div.content{
    vertical-align: middle;
    display: inline-block;
    width: 85%;
}

.listitem{
    float: right; width: 90%;    
}

.indexfooter{
    background-size: 100% 100%;
    background-repeat:no-repeat;    
}
.indexfooter .content{
    margin-bottom:100px;  
}
.indexfooter .circle{
    text-align: center;        
    float: left;    
    height: 120px;
    width: 120px;
    background-color: white;
    color: #5a5a5a;
    font-size: 20px;
    border-radius: 50%;
    padding: 10px;    
}
.indexfooter .circle .span{    
 vertical-align: middle;     
}
.indexfooter .circle.am{
    margin-right: 15%;
}

.circle a{
    color: #5a5a5a;
}

