body{
    margin: 0px;
    padding: 0px;
    background-color: #f8f8f8;
    font-family: 'Open Sans' !important;
    font-style:  normal;
    font-weight: 300;
    color: #388168;    
}
ul.navigation{
    float:right;    
    list-style-type: none;
    padding-top: 30px;
}
.navigation li{
    float: left;
    margin-right: 25px;
}
header{
    padding: 0 120px 0 120px;
}
.logo{
    margin-top: 30px;
}
.navigation a{
    text-decoration: none;    
    color: #49b086;    
    padding: 15px;
}
.navigation a.active{
    color: #388168;  
}
.navigation a.hover{       
    border: 1px solid #49b086;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.button, .navigation a.navbutton, a.navbutton, a.button_link{
    background-color: #fda134;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;    
}

a.button_link{    
    text-decoration: none;        
    padding: 15px;
}

.button{
    display:inline-block;
    width: 160px;
    height: 52px;
    text-align: center;    
    font-size: 18px;
}
.button span{
     display:inline-block;
    margin-top:10px;
}

#title{
    position: relative;    
}

#title div{
    height: 60px;    
    width: 340px;
    background-color: #49b086;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left:50%;
    margin-left: -200px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    z-index: 2;
    text-align:center;
    padding-top: 18px;
    letter-spacing: 6px
}

section.text, section.footer{
    position: relative;
    width: 50%;
    margin: 30px 25% 30px 25%;
    color: #388168;
    background-color: #ffffff;
}
section.footer{    
    width: 70%;
    margin: auto;
}

section.text p{
    font-weight: bold;
    font-style: italic;
}
section.text h1{
    color: #388168;
    width: 100%;
    text-align:center;
}

section.careers{
    position: relative;    
    color: white;
    background-color: #49b086;
    padding-bottom: 50px;
}
section.careers .content{
    width: 50%;
    margin: 30px 25% 30px 25%;
}

section.careers p{
    font-weight: bold;
    font-style: italic;
}
section.careers h1{ 
    width: 100%;
    text-align:center;
}
.teambox{
    width: 33%;
    float: left;
    text-align:center;
    margin-bottom:40px;
}
.teambox a img{
    border: 5px solid #f0f0f0;    
     border-radius: 50%;
}
.teambox a:hover img{    
    border: 5px solid white;
    border-radius: 50%;
}

.clear{
    clear: both;
}

.footer .col{
    padding-top: 50px;
    width: 21%;
    height: 100px;
    float: left;    
    margin-right: 20px;
}

.teambox a{
    text-decoration: none;
    color: #388168;    
    
}

.biodropdown h1{
    font-family:"Open Sans";
    font-weight: bold;
    font-size: 26px;
    color: #7c7c7c;  
}

.biodropdown h2{
    font-size: 20px;
    color: #7c7c7c
}


.qtip-default {
    border-width: 2px;
    border-style: solid;
    border-color: #eaeaea;
    background-color: #fff;    
}

.biodropdown img{
    margin: 0px 20px 0px 20px;
    width: 50px;
}


.biodropdown h1{
    text-align: center;
    line-height: 120%;
    font-family:"Open Sans";
    font-weight: bold;
    font-size: 32px;
    color: #7c7c7c;  
}

.biodropdown h2{
    text-align: center;
    line-height: 120%;
    font-size: 24px;
    color: #7c7c7c
}

.biodropdown p{
    font-size: 12px;
}

.features{
    color: #a4a4a4;
    background-color: #f8f8f8;
}

.pricing.text{
    background-color: #f0f0f0;
}

.pricing{ margin-top: 50px;}

.pricing table{
    width: 90%;
    margin: auto;
}

.pricing table thead .top{
    text-align: center;
    background-color: #47a982;
    color: white;
    padding: 10px;
    font-size: 24px;
    top: 0px;    
}
.pricing table thead .content{
    text-align: center;    
    height: 160px;
}

.calltoaction{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 25px;
}
.dollarsign{
    vertical-align: top;
    padding-top: 10px;
}
.pricetag{
    font-size: 60px;font-weight: bold;
}
.pricetag.small{
    line-height: 60px;
    font-size: 40px;font-weight: bold;
}
.pricing table .corner{
    font-size: 36px;
    width: 200px;
}
.pricing table td{
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
table tr.odd td{
    background-color: #f8f8f8f;
}
table tr.odd td,table tr.even td{
    padding: 10px;
    text-align: center;
}
table tr td.rowheader{
    border-left: 1px solid lightgrey;
    text-align: left;
}

/*add in lineheight to fix overlapping of text*/
