@import url("common.css");

.row{                                   display:table; width: 100%;}
.stddist-i-l{                           padding-left:15%; }
.stddist-i-r{                           padding-right:15%; }
.narrow{                                padding-left:25%;padding-right:25%; }
.wide{                                  padding-left:12%;padding-right:12%; }
.maxdist-i-r{                           padding-right:30%; }
.mindist-i-r{                           padding-right:30px; }
.mindist-i-l{                           padding-left:30px; }
.stddist-i-b{                           padding-bottom: 50px; }
.stddist-i-t{                           padding-top: 50px; }
.rightalign{                            text-align: right;  }
.lefttalign{                            text-align: left;  }
.content .cell.vbottom{                 vertical-align: bottom;}
.content .cell.vtop{                    vertical-align: top;}
.white{                                 background-color: white;}
.green{                                 background-color: #49b086;color: white;}
.grey{                                  background-color: #f0f0f0; }
.content{                               display:table-row;  text-align: left; }
.content .cell{                         display:table-cell; vertical-align: middle;}
.button.w220{                           width: 220px; }
