body{
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    font-family: 'Open Sans' !important;
    font-style:  normal;
    color: #a4a4a4;    
}

body.product{
    background-color: #f0f0f0;
}

a{ text-decoration: none; }

.indextitle{
    position: absolute;
    font-weight: bold;
    text-align: center;
    margin: 110px 17% 0px 17%; 
    font-size: 70px;
    color: white;
    
}

.indexsubtitle span{
    position: absolute;
    color: blue;
    padding: 100px 10px 10px 100px;
}


.hey{
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    color: #7c7c7c;
}

ul.navigation{
    float:right;    
    list-style-type: none;
    padding-top: 30px;
}
.navigation li{
    float: left;
    margin-right: 25px;
}
header{
    padding: 0 120px 0 120px;
    background-color: white;
}
.logo{
    margin-top: 30px;
}
.navigation a{
    text-decoration: none;    
    color: #a4a4a4;    
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
.navigation a.active{
    color: #7c7c7c;  
}
.navigation a.hover{       
    border: 1px solid #49b086;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.button, .navigation a.navbutton, a.navbutton, a.button_link{
    background-color: #fda134;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;  
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 1px 2px 2px #888888;
}

a.navbutton:hover{
    background-color: #ec9126;
    
}

a.button_link{    
    text-decoration: none;        
    padding: 15px;
    padding-right: 32px;
    padding-left: 32px;
}
a.button:hover{
    background-color: #ec9126;
}

.button{
    display:inline-block;
    width: 110px;
    height: 52px;
    text-align: center;    
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.button span{
     display:inline-block;
    margin-top:10px;
}

a.button_link:hover{
     background-color: #ec9126;
}

/*Begin CSS to style home page text in 3 color bands*/

.toptext{
    color: #a4a4a4;
    font-size: 20px;
}

.toptextwht{
    color: white;
    font-size: 20px;
}

.centertext{
    color: #5a5a5a;
    font-size: 54px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.centertextwht{
    color: white;
    font-size: 54px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bottomcaps{
    color: #a4a4a4;
    font-size: 20px;
}

.custquote{
    color: white;
    font-size: 28px;
}

.custquotename{
    color: white;
    font-size: 20px;
}
.custquotename img{
    vertical-align: middle;
} 
.custquotename span{
    vertical-align: middle;
}    

#dojo{
    float: none;
    width: 50px;
}

.homearrow{
    vertical-align: middle;
    float: right;
    position: relative;
    top: 20px;
    right: 170px;
    z-index: 3;
}
.logosall{
    width: 1000px;
}





/*End CSS to style home page text in 3 color bands*/

#title{
    position: relative;    
}

#title div{
    height: 60px;    
    width: 340px;
    background-color: #49b086;
    position: absolute;    
    left:50%;
    margin-left: -200px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    z-index: 2;
    text-align:center;
    padding-top: 18px;
    letter-spacing: 6px
}

#title_index div{
    margin: 10%;
    position: absolute;
    top: 50px;
    color: white;    
    z-index: 2;
}
#title_index div h1{
    text-align: center;
    width: 80%;
    font-size: 70px;
}
#title_index div p{
        font-size: 28px;
}
#title_index div img{
    float: right;
}

#title div{ top: 51.5%; }


section.text, section.footer{
    position: relative;
    width: 50%;
    font-size: 18px;
    margin: 30px 25% 30px 25%;
    color: #a4a4a4;
    background-color: #ffffff;
    line-height: 1.8;
}

section.text.wide{
    width: 60%;
    margin: auto;
}
/*section.text, section.footer{
    position: relative;
    width: 34%;
    margin: 30px 25% 30px 32%;
    color: #5a5a5a;
    background-color: #ffffff;
    line-height: 1.8;
    In here for bio headshot section.
    */

section.footer{
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;    
    height: 500px;
}
section.footer #content{
    width: 85%;
    margin: auto;
}

section.text{
    margin: 30px 25% 30px 25%;
    font-size: 18px;
    line-height: 1.8;


}

section.text p{
    font-weight: bold;
    font-style: italic;
    font-size: 16px;

}
section.text h1{
    color: #a4a4a4;
    width: 100%;
    text-align:center;
}

section.careers{
    position: relative;    
    color: white;
    font-size:  18px;
    background-color: #49b086;
    //height: 100px;
    padding: 0px 0 30px 0;
    line-height: 1.8;
    text-decoration: none;
}
section.careers .content{
    width: 50%;
    margin: 30px 25% 30px 25%;
    
}

section.careers p{
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}
section.careers h1{ 
    width: 100%;
    text-align:center;
}

.bottomlinkbanner.careers{
    padding: 38px 0px 30px 0px;
}

.bottomlinkbanner.features{
     padding: 78px 0px 70px 0px;
     font-size: 20px;     
     background-color: #f8f8f8;
}
/* CSS for all team headshot bios*/
.teambox{
    width: 33%;
    
    float: left;
    text-align:center;
    margin-bottom:40px;
}
.teambox a img{
    border: 5px solid #f0f0f0;    
     border-radius: 50%;
}
.teambox a:hover img{    
    border: 5px solid white;
    border-radius: 50%;
}

.clear{
    clear: both;
}

.footer .col{
    padding-top: 50px;
    width: 23%;
    height: 100px;
    float: left;    
    margin-right: 20px;
}

.footerbox{
    text-decoration: none;
    color: #a4a4a4;
    font-size: 16px;
    background-color: #f8f8f8;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    width: 180px;
    text-align: center;
}
.disclaimer{
  
    height: 100px;
    width: 100%;
    background-color: #f8f8f8;
    color: #a2a2a2;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    text-decoration: none;
}
        
.disclaimer .content {
    margin: auto;        
    width:90%;    
}
 
 .disclaimer .discol {
    width: 40%;
    display: table-cell;
    height: 100px;
    vertical-align: middle;
 }
 .disclaimer .discol{
    padding: 0 10px 0 10px;
}
 .disclaimer .left{    
    border-right: 1px solid #f0f0f0;
 }
.disclaimer a.rightlinks{
    text-decoration: none;
    color: #a2a2a2;
}

.teambox a{
    text-decoration: none;
    font-family: Open Sans, Semibold;
    color: #7c7c7c;    
    
}

.biodropdown h1{
    font-family:"Open Sans";
    font-weight: bold;
    font-size: 20px;
    color: #7c7c7c;  
}

.biodropdown h2{
    font-size: 20px;
    color: #7c7c7c
}


.qtip-default {
    border-width: 2px;
    border-style: solid;
    border-color: #eaeaea;
    background-color: #fff;    
}

.biodropdown img{
    margin: 0px 20px 0px 20px;
    width: 50px;
}


.biodropdown h1{
    text-align: center;
    line-height: 110%;
    font-family:"Open Sans";
    font-weight: bold;
    font-size: 28px;
    color: #7c7c7c;  
}

.biodropdown h2{
    text-align: center;
    line-height: 110%;
    font-size: 22px;
    color: #7c7c7c
}

.biodropdown p{
    font-size: 12px;
    line-height: 140%;
}

.features{
    color: #a4a4a4;
    background-color: #f8f8f8;
}

.pricing.text{
    background-color: #f0f0f0;
}

.pricing{ margin-top: 120px; margin-bottom: 50px;}

.pricing table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

.pricing table thead .top{
    text-align: center;
    background-color: #47a982;
    color: white;
    padding: 10px;
    font-size: 24px;
    top: 0px;    
}
.pricing table thead .content{
    text-align: center;    
    height: 190px;
    background-color:   white;
}

.calltoaction{
    padding-top: 15px;
    text-align: center;
    padding-bottom: 25px;
    background-color:   white;
}
.dollarsign{
    vertical-align: top;
    padding-top: 10px;
}
.pricetag{
    font-size: 60px;font-weight: bold;
}
.pricetag.small{
    line-height: 60px;
    font-size: 35px;font-weight: bold;
}
.pricing table .corner{
    font-size: 36px;
    width: 200px;
    border-left: 0px;
    border-top: 0px;
    font-size:  26px;
}
.pricing table .corner div{
    padding: 27%;
}
.pricing table td{
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgray;
    border-top: 1px solid #49b086;
}
.pricing table tr.nrow td{
    border-left: 1px solid lightgrey;
}

table tr.odd td{
    background-color: #f8f8f8;
}
table tr.odd td,table tr.even td{
    padding: 20px;
    text-align: center;
}
table tr.even td{
    background-color: white;
}

table tr td.rowheader{
    border-left: 1px solid lightgrey;
    text-align: left;
}
.pricing table tr.nrow td:first-child{
    text-align: left;
}
.footer a.page{
    font-size: 16px;
    color: #7c7c7c;
    text-decoration: none;
    
}
.footer a.anchor{
    font-size: 14px;
    color: #a4a4a4;
    text-decoration: none;
}

.date_icon{
    height: 36px;
    vertical-align: middle;
}

.faq{
    margin: 0px 120px 0px 120px;
}
.faq div.question{
    display: block;
    width: 45%;
    margin-right:20px;
    float: left;
    background-color: lightgrey;
    padding: 10px;
    margin-bottom: 25px;
}

.faq div.answer{
    margin-bottom: 25px;
    display: none;
}
.clear{
    clear: both;
}
.videoitem{
    float: left;
}
.videoitem iframe{
    width: 80%;
}

div.question{
    display: block;
    width: 46%;
    margin-right:20px;
    float: left;
    background-color: white;
    padding: 10px;
    margin-bottom: 25px;
}

div.answer{
    margin-bottom: 25px;
    display: none;
}
.clear{
    clear: both;
}

.videoitem,.howtoitem{
    float: left;
}

section.howtos div.content,section.videos div.content {    
    width: 100%;
    padding: 0px 5% 0px 5%;
    text-align: center;    
    background-color: green;
}
section.videos,section.howtos{    
    text-align: center;    
}
.howtoitem,.videoitem{
    width: 30%;        
}
.rightspace{
    margin-right: 20px;
}

/*add in lineheight to fix overlapping of text*/

section.textcenter.small{
    padding-top: 2%:
    padding-bottom: 2%;
}


section.textcenter, section.textleft{
    width: 80%;
    text-align: center;
    padding: 10%;    
}
section.textleft{
    text-align: left;
}

section.textcenter .content, section.textleft .content{
    width: auto;
}
section.white{
    background-color: white;
}
section.green{
    background-color: #49b086;
}
section.grey{
    background-color: #f0f0f0;
}

section.lgrey{
    background-color: lightgrey;
}

/*add in lineheight to fix overlapping of text*/
