

.faq{
    margin: 0px 120px 0px 120px;
}
.faq div.question{
    display: block;
    width: 46%;
    margin-right:20px;
    float: left;
    background-color: lightgrey;
    padding: 10px;
    margin-bottom: 25px;
}

.faq div.answer{
    margin-bottom: 25px;
    display: none;
}
.clear{
    clear: both;
}

.videoitem,.howtoitem{
    float: left;
}

section.howtos div.content,section.videos div.content {    
    width: 100%;
    padding: 0px 5% 0px 5%;
    text-align: center;    
    background-color: green;
}

section.videos,section.howtos{    
    text-align: center;
    
}
.howtoitem,.videoitem{ width: 30%; }
.rightspace{
    margin-right: 20px;
}

/*add in lineheight to fix overlapping of text*/
