@import url("common.css");

/*Begin CSS to style home page text in 3 color bands*/

#indextitle h1{
    font-weight: 600;
    }

.toptext{
    color: #a4a4a4;
    font-size: 20px;
}

.toptextwht{
    color: white;
    font-size: 20px;
}

.centertext{
    color: #5a5a5a;
    font-size: 42px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.centertextwht{
    color: white;
    font-size: 42px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bottomcaps{
    color: #a4a4a4;
    font-size: 16px;
    letter-spacing: 4px; 
}

.custquote{
    color: white;
    font-size: 28px;
    line-height: 48px;
}

.custquotename{
    color: white;
    font-size: 20px;
}
.custquotename img{
    vertical-align: middle;
} 
.custquotename span{
    vertical-align: middle;
}    

#dojo{
    float: none;
    width: 50px;
}

#leftline{
    position: relative;
    top: -5px;
    right: 20px;
}

#rightline{
    position: relative;
    top: -5px;
    left: 20px;
}


.getstarted{
    position: relative;
    top: 25px;
    left: -200px;
    font-size: 22px;
}

.homearrow{
    vertical-align: middle;
    float: right;
    position: relative;
    top: 20px;
    right: 170px;
    z-index: 3;
}
.logosall{
    width: 1000px;
}

/*End CSS to style home page text in 3 color bands*/

section.text{
    margin: 30px 25% 30px 25%;
    font-size: 18px;
    line-height: 1.8;
}

section.text p{
    font-weight: bold;
    font-style: italic;
    font-size: 16px;

}
section.text h1{
    color: #a4a4a4;
    width: 100%;
    text-align:center;
    letter-spacing: 4px;
    font-weight: 600;
}

section.careers{
    position: relative;    
    color: white;
    font-size:  18px;
    background-color: #49b086;
    //height: 100px;
    padding: 0px 0 30px 0;
    line-height: 1.8;
    text-decoration: none;
}
/*Features Page & Footer List*/

h1.collaboration{
    font-size: 26px;
    color: #a4a4a4;
    font-weight: normal;
}

section.featuresfooter{
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;    
    height: 500px;
}
section.featuresfooter #content{
    width: 85%;
    margin: auto;
}


/* End Features Footer List*/
section.careers .content{
    width: 50%;
    margin: 30px 25% 30px 25%;    
}

section.careers p{
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}
section.careers h1{ 
    width: 100%;
    text-align:center;
    letter-spacing: 4px;
}

.bottomlinkbanner.careers{
    padding: 38px 0px 30px 0px;
}

.bottomlinkbanner.features{
     padding: 78px 0px 70px 0px;
     font-size: 20px;     
     background-color: #f8f8f8;
}
/* CSS for all team headshot bios*/
.teambox{
    width: 33%;    
    float: left;
    text-align:center;
    margin-bottom:40px;
}
.teambox a img{
    border: 5px solid #f0f0f0;    
     border-radius: 50%;
}
.teambox a:hover img{    
    border: 5px solid white;
    border-radius: 50%;
}

.teambox a{
    text-decoration: none;
    font-family: Open Sans, Semibold;
    color: #7c7c7c;        
}

.biodropdown h1{
    font-family:"Open Sans";
    font-weight: bold;
    font-size: 20px;
    color: #7c7c7c;  
}

.biodropdown h2{
    font-size: 20px;
    color: #7c7c7c
}


.qtip-default {
    border-width: 2px;
    border-style: solid;
    border-color: #eaeaea;
    background-color: #fff;    
}

.biodropdown img{
    margin: 0px 20px 0px 20px;
    width: 50px;
}

.biodropdown h1{
    text-align: center;
    line-height: 110%;
    font-family:"Open Sans";
    font-weight: bold;
    font-size: 28px;
    color: #7c7c7c;  
}

.biodropdown h2{
    text-align: center;
    line-height: 110%;
    font-size: 22px;
    color: #7c7c7c
}

.biodropdown p{
    font-size: 12px;
    line-height: 140%;
}

.features{
    color: #a4a4a4;
    /*background-color: #f8f8f8;*/
}

.pricing.text{
    background-color: #f0f0f0;
}

.pricing{ margin-top: 120px; margin-bottom: 50px;}

.pricing table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

.pricing table thead .top{
    text-align: center;
    background-color: #47a982;
    color: white;
    padding: 10px;
    font-size: 24px;
    top: 0px;    
}
.pricing table thead .content{
    text-align: center;    
    height: 190px;
    background-color:   white;
}

.calltoaction{
    padding-top: 15px;
    text-align: center;
    padding-bottom: 25px;
    background-color:   white;
}
.dollarsign{
    vertical-align: top;
    padding-top: 10px;
}
.pricetag{
    font-size: 60px;font-weight: bold;
    color: #7c7c7c;
}
.pricetag.small{
    line-height: 60px;
    font-size: 24px;font-weight: bold;
    color: #7c7c7c;
}
.pricing table .corner{
    font-size: 36px;
    width: 200px;
    border-left: 0px;
    border-top: 0px;
    font-size:  26px;
}
.pricing table .corner div{
    padding: 27%;
}
.pricing table td{
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgray;
    border-top: 1px solid #49b086;
}
.pricing table tr.nrow td{
    border-left: 1px solid lightgrey;
}

table tr.odd td{
    background-color: #f8f8f8;
}
table tr.odd td,table tr.even td{
    padding: 20px;
    text-align: center;
}
table tr.even td{
    background-color: white;
}

table tr td.rowheader{
    border-left: 1px solid lightgrey;
    text-align: left;
}
.pricing table tr.nrow td:first-child{
    text-align: left;
}

.date_icon{
    height: 36px;
    vertical-align: middle;
}

.faq{
    margin: 0px 120px 0px 120px;
}
.faq div.question{
    display: block;
    width: 45%;
    margin-right:20px;
    float: left;
    background-color: lightgrey;
    padding: 10px;
    margin-bottom: 25px;
}

.faq div.answer{
    margin-bottom: 25px;
    display: none;
}
.clear{
    clear: both;
}
.videoitem{
    float: left;
}
.videoitem iframe{
    width: 80%;
}

div.question{
    display: block;
    width: 46%;
    margin-right:20px;
    float: left;
    background-color: white;
    padding: 10px;
    margin-bottom: 25px;
}

div.answer{
    margin-bottom: 25px;
    display: none;
}
.clear{
    clear: both;
}

.videoitem,.howtoitem{
    float: left;
}

section.howtos div.content,section.videos div.content {    
    width: 100%;
    padding: 0px 5% 0px 5%;
    text-align: center;    
    background-color: green;
}
section.videos,section.howtos{    
    text-align: center;    
}
.howtoitem,.videoitem{
    width: 30%;        
}
.rightspace{
    margin-right: 20px;
}

/*add in lineheight to fix overlapping of text*/

section.small{
    padding-top: 2%:
    padding-bottom: 2%;
}


section.textcenter, section.textleft{
    width: 80%;
    text-align: center;
    padding: 10%;    
}
section.textleft{
    text-align: left;
}

section.textcenter .content, section.textleft .content{
    width: auto;
    font-size: 20px;
    color: #5a5a5a;
}
section.white{
    background-color: white;
}
section.green{
    background-color: #49b086;
}
section.grey{
    background-color: #f0f0f0;
}

section.lgrey{
    background-color: lightgrey;
}

section  .content.twothirds{
    width: 70% 
}
section  .content.twothirds h2{
    margin-top:0px;
    padding-top: 0px;
}
section img.right{
    width: 30%; 
    position: absolute;
    right: 0px;    
}
section .content.right{
    float: right;
    height: auto;
}
section img.left{
    width: 30%;
    position: absolute;
    left: 0px;    
}
section.textcenter.narrow, section.textleft.narrow{
    width: 50%;    
    padding-left: 25%;
    padding-right: 25%;   
}
section.textcenter.narrow2{
    width: 50%;    
    padding-left: 25%;
    left: 0px;
}
.homearrow{
    float: right;
    position: absolute;
    z-index: 3;
}

.indexfooter{
    background-size: 100% 100%;
    background-repeat:no-repeat;    
}
.indexfooter .content{
    margin-bottom:100px;  
}
.indexfooter .circle{
    text-align: center;        
    float: left;    
    height: 120px;
    width: 120px;
    background-color: white;
    color: #5a5a5a;
    font-size: 20px;
    border-radius: 50%;
    padding: 10px;    
}
.indexfooter .circle .span{    
 vertical-align: middle;     
}
.indexfooter .circle.am{
    margin-right: 15%;
}

.circle a{
    color: #5a5a5a;
}
/*add in lineheight to fix overlapping of text*/
