body{
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    font-family: 'Open Sans' !important;
    font-style:  normal;
    color: #a4a4a4;    
}

.hey{
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
}
ul.navigation{
    float:right;    
    list-style-type: none;
    padding-top: 30px;
}
.navigation li{
    float: left;
    margin-right: 25px;
}
header{
    padding: 0 120px 0 120px;
}
.logo{
    margin-top: 30px;
}
.navigation a{
    text-decoration: none;    
    color: #a4a4a4;    
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
.navigation a.active{
    color: #7c7c7c;  
}
.navigation a.hover{       
    border: 1px solid #49b086;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.button, .navigation a.navbutton, a.navbutton, a.button_link{
    background-color: #fda134;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;  
    padding-left: 25px;
    padding-right: 25px;
}

a.navbutton:hover{
    background-color: #ec9126;
    
}

a.button_link{    
    text-decoration: none;        
    padding: 15px;
    padding-right: 32px;
    padding-left: 32px;
}

.button{
    display:inline-block;
    width: 160px;
    height: 52px;
    text-align: center;    
    font-size: 18px;
}
.button span{
     display:inline-block;
    margin-top:10px;
}

a.button_link:hover{
     background-color: #ec9126;
}

#title{
    position: relative;    
}
#title2{    
    height: 250px;
    vertical-align: middle;
}
#title div,#title2 div{
    height: 60px;    
    width: 340px;
    background-color: #49b086;
    position: absolute;    
    left:50%;
    margin-left: -200px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    z-index: 2;
    text-align:center;
    padding-top: 18px;
    letter-spacing: 6px
}
#title2 div{
    top: 60%;
}
#title div{ top: 51.5%; }

section.text, section.footer{
    position: relative;
    width: 50%;
    font-size: 18px;
    margin: 30px 25% 30px 25%;
    color: #a4a4a4;
    background-color: #ffffff;
    line-height: 1.8;
}

section.text.wide{
    width: 60%;
    margin: auto;
}
/*section.text, section.footer{
    position: relative;
    width: 34%;
    margin: 30px 25% 30px 32%;
    color: #5a5a5a;
    background-color: #ffffff;
    line-height: 1.8;
    In here for bio headshot section.
    */

section.footer{    
    width: 85%;
    margin: auto;
    height: 500px;
}

section.text p{
    font-weight: bold;
    font-style: italic;
    font-size: 16px;

}
section.text h1{
    color: #a4a4a4;
    width: 100%;
    text-align:center;
}

section.careers{
    position: relative;    
    color: white;
    font-size:  18px;
    background-color: #49b086;
    //height: 100px;
    padding: 0px 0 30px 0;
    line-height: 1.8;
    text-decoration: none;
}
section.careers .content{
    width: 50%;
    margin: 30px 25% 30px 25%;
    
}

section.careers p{
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}
section.careers h1{ 
    width: 100%;
    text-align:center;
}

.bottomlinkbanner.careers{
    padding: 38px 0px 30px 0px;
}

/* CSS for all team headshot bios*/
.teambox{
    width: 33%;
    
    float: left;
    text-align:center;
    margin-bottom:40px;
}
.teambox a img{
    border: 5px solid #f0f0f0;    
     border-radius: 50%;
}
.teambox a:hover img{    
    border: 5px solid white;
    border-radius: 50%;
}

.clear{
    clear: both;
}

.footer .col{
    padding-top: 50px;
    width: 23%;
    height: 100px;
    float: left;    
    margin-right: 20px;
}

.footerbox{
    text-decoration: none;
    color: #a4a4a4;
    font-size: 16px;
    background-color: #f8f8f8;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    width: 180px;
    text-align: center;
}

.teambox a{
    text-decoration: none;
    font-family: Open Sans, Semibold;
    color: #7c7c7c;    
    
}

.biodropdown h1{
    font-family:"Open Sans";
    font-weight: bold;
    font-size: 20px;
    color: #7c7c7c;  
}

.biodropdown h2{
    font-size: 20px;
    color: #7c7c7c
}


.qtip-default {
    border-width: 2px;
    border-style: solid;
    border-color: #eaeaea;
    background-color: #fff;    
}

.biodropdown img{
    margin: 0px 20px 0px 20px;
    width: 50px;
}


.biodropdown h1{
    text-align: center;
    line-height: 110%;
    font-family:"Open Sans";
    font-weight: bold;
    font-size: 28px;
    color: #7c7c7c;  
}

.biodropdown h2{
    text-align: center;
    line-height: 110%;
    font-size: 22px;
    color: #7c7c7c
}

.biodropdown p{
    font-size: 12px;
    line-height: 140%;
}

.features{
    color: #a4a4a4;
    background-color: #f8f8f8;
}

.pricing.text{
    background-color: #f0f0f0;
}

.pricing{ margin-top: 50px; margin-bottom: 50px;}

.pricing table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

.pricing table thead .top{
    text-align: center;
    background-color: #47a982;
    color: white;
    padding: 10px;
    font-size: 24px;
    top: 0px;    
}
.pricing table thead .content{
    text-align: center;    
    height: 160px;
}

.calltoaction{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 25px;
}
.dollarsign{
    vertical-align: top;
    padding-top: 10px;
}
.pricetag{
    font-size: 60px;font-weight: bold;
}
.pricetag.small{
    line-height: 60px;
    font-size: 40px;font-weight: bold;
}
.pricing table .corner{
    font-size: 36px;
    width: 200px;
}
.pricing table td{
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.pricing table tr.nrow td{
    border-left: 1px solid lightgrey;
}

table tr.odd td{
    background-color: #f8f8f8f;
}
table tr.odd td,table tr.even td{
    padding: 10px;
    text-align: center;
}
table tr td.rowheader{
    border-left: 1px solid lightgrey;
    text-align: left;
}
.pricing table tr.nrow:first-child{
    text-align: left;
}
.footer a.page{
    font-size: 16px;
    color: #7c7c7c;
    text-decoration: none;
    
}
.footer a.anchor{
    font-size: 14px;
    color: #d2d2d2;
    text-decoration: none;
}

.date_icon{
    height: 36px;
    vertical-align: middle;
}

.faq{
    margin: 0px 120px 0px 120px;
}
.faq div.question{
    display: block;
    width: 45%;
    margin-right:20px;
    float: left;
    background-color: lightgrey;
    padding: 10px;
    margin-bottom: 25px;
}

.faq div.answer{
    margin-bottom: 25px;
    display: none;
}
.clear{
    clear: both;
}
.videoitem{
    float: left;
}
section.videos{
    margin: 0px 120px 0px 120px;
}
.videoitem iframe{
    width: 25%;
}



/*add in lineheight to fix overlapping of text*/
