@import url("common.css");
.row{                                   display:table; width: 100%;color: #5a5a5a}
.stddist-i-l{                           padding-left:15%; }
.stddist-o-l{                           margin-left:15%; }
.stddist-o-r{                           margin-right:15%; }
.stddist-i-r{                           padding-right:15%; }
.betdist-i-l{                           padding-left:7.5%; }
.betdist-i-r{                           padding-right:7.5%; }
.narrow{                                padding-left:25%;padding-right:25%; }
.wide{                                  padding-left:12%;padding-right:12%; }
.w70{                                   width: 70%;   }
.half {                                 width: 50%;}
.maxdist-i-r{                           padding-right:30%; }
.mindist-i-r{                           padding-right:30px; }
.mindist-i-l{                           padding-left:30px; }
.stddist-i-b{                           padding-bottom: 50px; }
.stddist-i-t{                           padding-top: 50px; }
.maxdist-i-t{                           padding-top: 80px; }
.maxdist-i-b{                           padding-bottom: 80px; }
.rightalign{                            text-align: right;  }
.lefttalign{                            text-align: left;  }
.center{                                text-align: center;  }
.content .cell.vbottom{                 vertical-align: bottom;}
.content .cell.vtop{                    vertical-align: top;}
.content .cell.vmiddle{                 vertical-align: middle;}
.biggertext{                            line-height: 36px;}
.white{                                 background-color: white;}
.green{                                 background-color: #49b086;color: white;}
.grey{                                  background-color: #f0f0f0; }
.l-green{                               background-color: #65b695; }
.content{                               display:table-row;  text-align: left;}
.content .cell{                         display:table-cell; vertical-align: middle;}
.button.w220{                           width: 220px; }
.button.w160{                           width: 160px; padding-top: 8px; padding-bottom: 5px;}
.third{                                 width: 33%;   }
h3{                                     color: #a5a5a5a; }
h1{                                     font-weight: 300; color: #a4a4a4;text-transform:uppercase; letter-spacing: 3px; font-size: 26px;}
.innerstd{                              width: auto; margin-left: 15%; margin-right: 15%; padding: 25px;  }
.inv h2{                                margin-top: 0px; }
.inv{                                   display: none;}
.author{                                font-size: 12px;}
.circle{                                display: inline-block;}
.full{                                  width: 100%;}
.noline{                                line-height: normal;}
.search{
    font-size: 24px; 
    line-height: 24px;
    width: 500px;
    border:1px solid lightgrey;
    padding: 15px;
    color: #a4a4a4;
}
#faq-list{
    width:70%;
    margin: auto;    
    text-align: left;
    border: 1px solid lightgrey;
    height: 300px;
    max-height: 300px;
    overflow-y: scroll;
}

.faq-item{
    border-bottom: 1px solid lightgrey;
    
}
.question{ padding: 20px;    }
.answer{
    padding: 0px 20px 20px 20px;    
    background-color: #f8f8f8;
}
.faq-item .ss-icon{padding-left:20px;}
a.button-empty{
    border: 1px solid #49B086;
    border-radius: 3px;
    color: #A4A4A4;
    padding: 8px 25px;
    text-decoration: none;
}
