ul.navbar-nav{
    float: right;
}

button.navbar-toggle{
    background-color: #fda134;
}

@media (max-width: 768px) {
    ul.navbar-nav{ float: left; }

 }
 
a.footerbox,a.footerbox:hover{
    text-decoration: none;
    color: #7C7C7C;
}


.footerbox {
    width: 200px;
    font-size: 16px;
    background-color: #f8f8f8;    
    padding: 10px;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

.smalltext{
    font-size: smaller;
}

div.container-fluid a.whosusingtext:hover, div.container-fluid a.whosusingtext{
    color: #a4a4a4;
    font-size: 16px;
    text-decoration: none;
}



