<style>    
.biodropdown a.twitter_icon,.biodropdown a.linkedin_icon {
    display: inline-block;
    height: 60px;
    width: 60px;    
    background-size:60px 60px;    
}
.biodropdown a.twitter_icon { margin-left: 25px;background-image: url('{{ base.url }}/images/bioicons/twitter-icon.png'); }
.biodropdown a.linkedin_icon { background-image: url('{{ base.url }}/images/bioicons/linkedin-icon.png'); }
.biodropdown a.twitter_icon:hover { background-image: url('{{ base.url }}/images/bioicons/twitter-hover-orange-icon.png'); }
.biodropdown a.linkedin_icon:hover { background-image: url('{{ base.url }}/images/bioicons/linkedin-hover-orange-icon.png'); }
.biodropdown{
    padding-bottom:20px;
}
</style>