    
     <div class="footer container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h3 class="footer"><a href="{{ base.url }}/what-is-contractually">Explore Contractually</a></h3>
                <p class="subfooter"><a href="{{ base.url }}/what-is-contractually">What is Contractually?</a><br />
                <a href="{{ base.url }}/how-does-it-work">How does it work ?</a><br />
                <a href="http://blog.contractual.ly/category/howtos/">Videos</a></p>
            </div>
            <div class="col-md-2">
                <h3 class="footer"><a href="{{ base.url }}/features">Product</a></h3>
                 <p class="subfooter"><a href="{{ base.url }}/features#featurelist">Features<a/><br />
                <a href="http://blog.contractual.ly/getting-started-in-15-quick-minutes/">Getting Started</a><br />
                <a href="{{ base.url }}/pricing">Pricing</a></p>
            </div>
            <div class="col-md-2">
                <h3 class="footer"><a href="{{ base.url }}/about">About</a></h3>
            <p class="subfooter"><a href="{{ base.url }}/about#ourstory">Our Story<br />
                <a href="{{ base.url }}/about#team">Team</a><br />
                <a href="{{ base.url }}/about#careers">Working at Contractually</a></p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 text-center contact1" style="padding-top: 20px;">               
                <a class="footerbox" href="">sales@contractual.ly</a>
                <a class="footerbox" href="">support@contractual.ly</a>
                <br />
                 <a href="https://www.facebook.com/Contractually" target="_blank"><img width="40" src="/images/sm-facebook.png"></a>
                                                             &nbsp;   &nbsp; 
                                                              <a href="https://twitter.com/contractually" target="_blank"><img width="40" src="/images/sm-twitter.png"></a>
                                                                &nbsp;   &nbsp;  
                                                   <a href="http://www.linkedin.com/company/contractually" target="_blank"><img width="40" src="/images/sm-linkedin.png"></a>
                                                   <br/>
            </div>
            <div class="col-md-1"></div>
        </div>
         <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h3 class="footer"><a href="{{ base.url }}/whos-using">Who's using Contractually?</a></h3>
                <p class="subfooter"><a href="{{ base.url }}/whos-using">Testimonials</a></p>
            </div>
            <div class="col-md-2">
               <h3 class="footer"><a href="http://support.contractual.ly/">Support</a></h3>              
               <p class="subfooter"><a href="http://support.contractual.ly/collection/1-faq">FAQ</a><br />
                <a href="http://support.contractual.ly/collection/6-videos">Videos</a></P>
            </div>
            <div class="col-md-2">
                <h3 class="footer"><a href="{{ base.url }}/features">Learn More</a></h3>
               <p class="subfooter">  <a href="{{ base.url }}/sales">Sales</a><br />
                <a href="{{ base.url }}/procurement">Procurement</a><br />
                <a href="{{ base.url }}/enterpriseready">Enterprise-ready</a><br />
                <a href="{{ base.url }}/legal">General Counsel/Legal Services</a><br />
                <a href="{{ base.url }}/salesforce">Salesforce Integration</a></p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2 text-center" style="margin-top: 20px;">
                <div class="contact2">
                <a href="mailto:sales@contractual.ly" class="footerbox">sales@contractual.ly</a><br />
                <a href="mailto:support@contractual.ly" class="footerbox">support@contractual.ly</a>
                <br/>
                 <a href="https://www.facebook.com/Contractually" target="_blank"><img width="40" src="/images/sm-facebook.png"></a>
                                                             &nbsp;   &nbsp; 
                                                              <a href="https://twitter.com/contractually" target="_blank"><img width="40" src="/images/sm-twitter.png"></a>
                                                                &nbsp;   &nbsp;  
                                                   <a href="http://www.linkedin.com/company/contractually" target="_blank"><img width="40" src="/images/sm-linkedin.png"></a>
                                                   <br/>
            </div>
              <div class="contact3">
                <a href="" class="smalltext footerbox">Suite 200 - 322 Water Street<br />
                Vancouver, BC, V6B 1B6<br />
                Canada</a>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row"><div class="col-md-12">&nbsp;<br/><br/></div></div>
     </div>
</div>     
     
   <div class="container-fluid grey disclaimer">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                 Contractually is a software & information service, not a law firm. We don't provide legal advice & we're not a substitute for the advice of a lawyer.           
            </div>
            <div class="col-md-5">
              © 2011-2014     8.5x14 Media Corp.     Privacy Policy     Terms of Service
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>   

  </body>
</html>
