  <section class="footer">          
            <div class="col">
                  <a class="page" href="#">Explore Contractually </a>
                        What is Contractually? <br>
                        How does it work ? <br>
                        Videos
            </div>
            <a class="page" href="#">Product</a>
            <a class="page" href="#">About</a>
            <div class="col">
                604 735 8562<br /><br />
                hello@contractual.ly<br /><br />
                <img width="40" src="{{ base.url }}/images/sm-facebook.png">
                <img width="40" src="{{ base.url }}/images/sm-twitter.png">
                <img width="40" src="{{ base.url }}/images/sm-linkedin.png">
            </div>
        </section>    
    </body>
</html>
