  <section class="footer" >          
            <div class="col">
                  <a class="page" href="#">Explore Contractually </a><br>
                        What is Contractually? <br>
                        How does it work ? <br>
                        Videos
                        <br>
                        <br>
                        <br>
                        <br>
                  
            <a class="page" href="#">Who's using Contractually?</a>
                        Testimonials
            </div>
            
          <div class="col">
            <a class="page" href="#">Product</a><br>
            Benefits<br>
            Features<br>
            Getting Started<br>
            Pricing<br>
            API
            <br>
            <br>
          
          
            <a class="page" href="#">Support</a><br>
            FAQ<br>
            Videos<br>
          </div>
         
          <div class="col">
            <a class="page" href="#">About</a><br>
            Our Story<br>
            Team<br>
            News<br>
            Contact Us<br>
            Working at Contractually
            <br>
            <br>
            <a class="page" href="#">Learn More</a><br>
            Sales<br>
            Procurement<br> 
            Enterprise-ready<br>
            CIO/IT<br>
            General Counsel/Legal Services<br>
         
          
            
          </div>
            <div class="col">
               <a class="footerbox" href="#">604 735 8562</a><br>
               <a class="footerbox" href="#">hello@contractual.ly</a>
               <br><br>
             <div>
                <img width="40" src="{{ base.url }}/images/sm-facebook.png">
                <img width="40" src="{{ base.url }}/images/sm-twitter.png">
                <img width="40" src="{{ base.url }}/images/sm-linkedin.png">
                </div>
             </div>           
        </section>    
    </body>
</html>
