<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.metatags }}">
    <meta name="author" content="Contractually">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>    
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.1/jquery.qtip.css">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.1/jquery.qtip.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ base.url }}/css/styles.css" />
        <link rel="stylesheet" type="text/css" href="{{ base.url }}/css/styles_td.css" />
        <script type="text/javascript">
            $("document").ready(function(){
                
                $(".teambox a").qtip({ style: 'qtip-wiki',
                                     
                    hide: {
                        fixed: true,
                        delay: 300
                    },
                position: {
                   my: 'top center',
                   at: 'bottom center'
                },
                content: {
                text: function(event, api) {                    
                    $.ajax({
                        url: api.elements.target.attr('href') // Use href attribute as URL
                    })
                    .then(function(content) {                 
                        api.set('content.text', content);
                    }, function(xhr, status, error) {                        
                        api.set('content.text', status + ': ' + error);
                    });        
                    return 'Loading...'; // Set some initial text
                }
                }
                });
                $(".teambox a").click(function(){
                    return false;
                });                
            });
        </script>
        
    </head>
    <body class="{{page.tag}}">
    
        
        <header>
<a href="{{ base.url}}/"><img class="logo" width="150" src="{{ base.url }}/images/logo1.png"></a>

   

        <ul class="navigation">            
            <li><a{% if page.tag == 'product' %} class="active"{% endif %} href="{{ base.url }}/product">PRODUCT</a></li>
            <li><a href="{{ base.url }}/support">SUPPORT</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a{% if page.tag == 'about' %} class="active"{% endif %} href="{{ base.url }}/about">ABOUT</a></li>
            <li><a class="hover" href="#">LOGIN</a></li>
            <li><a class="navbutton" href="#"<span>FREE TRIAL</span></a></li>                    
        </ul>
</header>
